@model IEnumerable<QuizMaster.Models.Quiz>

@{
    ViewData["Title"] = "AllQuizzes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllQuizzes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuizID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrongAnswer1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrongAnswer2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrongAnswer3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongAnswer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongAnswer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongAnswer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer4)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
